body{
	padding-top: 80px;
}
body#profile img#profile-img{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);

}
.navbar-brand{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	padding-left: 20px;
}
.nav-item{
	font-weight: 800;
	text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: SlateBlue;
	color: #fff;
	height: 60px;
	text-align: center;
	padding-top: 17px;
}
.navbar-light .navbar-nav .nav-item .nav-link
{
	color:  SlateBlue;
	padding: 5px 15px;
	text-align: center;
	padding-top: 17px;
}
.navbar-light .navbar-toggler{
	border:none;
	color: #fff;
	border:2px solid #7f7f7f;
	border-radius: 0;
	outline: none;
}
/**/
.smalld{
	color: #B7B7B7;
}
.panel{
	background-color: #3ca9e8;
}
.commet{
	color: white;
	padding-top:6px;
	padding-left: 23px;
	padding-bottom: 10px;
}
.huge{
	color: white;
	padding-left:80px;
	font-size:40px;
}
.comm{
	color: white;
	padding-left:4px;
}
.ddd{
	 background-color: #e9ecef;
	 padding: 7px 0 ;
}
.pull-left{
	padding-left: 23px;
	color: #3ca9e8;
}
.pull-left a{
	text-decoration: none;
}
.com1{
	color: red;
	padding-left: 23px;
}
.com1 a{
	color: red;
	text-decoration: none;
}
.pull-left1{
	color: green;
	padding-left: 23px;
}
.pull-left1 a{
	color: green;
	text-decoration: none;
}
.pull-left2{
	color: #ff9900;
	padding-left: 26px;
}
.pull-left2 a{
	color: #ff9900;
	text-decoration: none;
}
.pull-right{
	padding-left: 40px;
	color: #3ca9e8;
}
.pull-right1{
	padding-left: 80px;
	color: red;
}
.pull-right2{
	padding-left: 80px;
	color: green;
}
.pull-right3{
	padding-left: 38px;
	color: #ff9900;
}
.panel-red{
	background-color: red;
	border: 2px solid red;
	border-radius: 5px;
}
.panel-green{
	background-color: green;
	border: 2px solid green;
	border-radius: 5px;
}
.panel-yellow{
	background-color: #ff9900;
	border: 2px solid #ff9900;
	border-radius: 5px;
}
/**/
.tag-boxes .panel-primary{

	border: 2px solid #3ca9e8;
	border-radius: 5px;
}
/*.cart-footer{
	background-color: #e9ecef;
	margin-left: 0;
	margin-right:0;
}*/
/*Footer Start Here*/
footer{
  background:#2FA4E7;
  color:white;
  height:50px;
  line-height:50px;
  font-size:12px;
  position:absolute;
  width:100%;
}
/*Footer End Here*/
.right{
	color: white;
	padding-left:90px;
	font-size:40px;
}
.right1{
	color: white;
	padding-left:70px;
	font-size:40px;
}